@model testapi.Models.Job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posteddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posteddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.closingdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.closingdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
